.ph_container {
    text-align: center;
    font-size: larger;
}
.pbutton{
    background-color: #4CAF50;
}
.mbutton{
    background-color: red;
}
.container {
    float: left;  
}
.numberBox {
    box-sizing: border-box;
}