body {
    background-color: red;
}

.maincontainer {
    text-align: center;
}
li {
    list-style: none;
    text-align: center;
    padding: 5px;
    display: inline
}

.ph_container {
    text-align: center;
    font-size: larger;
}
.pbutton{
    background-color: #4CAF50;
}
.mbutton{
    background-color: red;
}

.numberBox {
    box-sizing: border-box;
}

hr {
    border-top: 1px solid
}

.hook-space {
    border: 3px;
    border-color: blue;
}
